<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726611880229-lqtgmmc76251r7792eq1ssve477lkui3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726611880229-lqtgmmc76251r7792eq1ssve477lkui3</string>
	<key>API_KEY</key>
	<string>AIzaSyAmr1wtne8uohgrZZsRY72hGS11a-GOHgY</string>
	<key>GCM_SENDER_ID</key>
	<string>726611880229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jamiljalal.streetParker</string>
	<key>PROJECT_ID</key>
	<string>streetparker-8dbcc</string>
	<key>STORAGE_BUCKET</key>
	<string>streetparker-8dbcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726611880229:ios:9d37b78e89e36d227c92cc</string>
	<key>DATABASE_URL</key>
	<string>https://streetparker-8dbcc.firebaseio.com</string>
</dict>
</plist>